@model IEnumerable<PokemonWiki.Models.Pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Pokedex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type.TypeName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Type.Strengths)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Type.Weaknesses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attack.AttackName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Strengths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Weaknesses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attack.AttackName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

